In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn

In [2]:
data=pd.read_csv("suv_data.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
data.drop(["User ID"],axis=1,inplace=True)

In [10]:
X=data.iloc[:,[1,2]]
y=data.iloc[:,3]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=4)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [15]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [16]:
logreg.fit(X_train,y_train)

LogisticRegression()

In [17]:
prediction=logreg.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test,prediction)*100

86.0